<div class="home_image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ("car_wallpaper.jpg") %>)">
  <div class="container">
    <h1 class="text">Rails Awesome Garage</h1>
    <h3 class="text">The best place to list and review cars.</h3>
    <%= link_to "Get started", cars_path, class: "get_started" %>
  </div>
</div>
