.car_cards {
  overflow: hidden;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.individual_card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card_description h3 {
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(36, 33, 33);
}

.individual_card {
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0.2,0.2,0.2,0.2);
}

.card_description {
  justify-content: center;
  text-align: center;
}

.car_link {
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
  color: rgb(36, 33, 33);
  transition: all 0.5s ease-in-out;
  margin: auto;
  padding: 2px;
  border-style: outset;
  background-color: rgb(187, 180, 180);
  border-color:rgb(230, 208, 208);
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
}

.car_link:hover {
  background-color: rgb(212, 230, 212);
}
